<%= render "layouts/menu"%>
  <main class="main-content">
    <div class="row m-auto main-content justify-content-between">
      <%= render "layouts/sidebar"%>
        <div class="col-12 col-md-9 form-main">
          <div class="container pt-5">
            <div class="form-title">
              <h1>Settings Update</h1>
            </div>
            <div class="form-content pt-5 ">
              <div class="form-content-profile ">
                <img src="https://as1.ftcdn.net/v2/jpg/04/53/08/58/1000_F_453085847_F79K4TPRlcDp9XGLPpAbjuKG2WPG3GAe.jpg" class="form-content-profile_img pb-3" alt="User">
                <a href="#" class="button mt-3">Browse</a>
              </div>
            <div class="form-content-group ">
            <%= render "users/form"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
