<%= render "layouts/menu"%>
  <main class="main-content">
    <div class="row m-auto main-content justify-content-between">
      <%= render "layouts/sidebar"%>
        <div class="col-12 col-md-9 form-main">
          <div class="container pt-5">
            <div class="form-title">
             <h1>My content</h1>
            <%= render "layouts/content" %>
          </div>
        </div>
      </div>
    </div>
  </main>
